/* Body */
html {
   scroll-behavior: smooth;
}

main {
   padding: 1rem;
   font-size: medium;
}

.pb-1 {
   padding-bottom: 1rem;
}

/* Universal */
.show-block {
   display: block !important;
}

.show-inline {
   display: inline !important;
}

/* Search view */
#search-form {
   display: none;
}

fieldset {
   margin: 3rem;
   padding: 2rem;
}

@media only screen and (max-width: 1120px) {
   fieldset {
      margin: 0;
      padding: 1rem;
   }
}

@media only screen and (max-width: 720px) {
   main {
      padding: 0.2rem;
   }
}

input,
textarea {
   display: block;
   width: 100%;
   font-size: large;
}

select {
   font-size: large;
}

input[type="checkbox"] {
   display: inline;
   width: auto;
   
}

input[type="text"] {
   height: 3rem;

}

input[type="submit"] {
   margin-top: 1rem;
   padding: 1rem;
   justify-self: center;
}

.hint {
   display: none;
   color: red;
}

div.form-item {
   margin-bottom: 1em;
}

/* Loading view */
#loading-view {
   display: none;
   text-align: center;
   padding-top: 9em;
   justify-content: center;
}

/* Error view */
#error-view {
   display: none;
   text-align: center;
   padding-top: 9em;
   justify-content: center;
}

/* Result view */
#search-results {
   display: none;
   text-align: center;
   justify-content: center;
}

div.record_display {
   margin: 1em;
   padding: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border: 1px solid #000;
   text-align: left;
   border-radius: 1.5em;
}

a.record_full_image_link {
   display: block;
   margin-top: 1em;
}