/* Body */
html {
   scroll-behavior: smooth;
}

main {
   padding: 1em;
}

/* Universal */
.show-block {
   display: block !important;
}

.show-inline {
   display: inline !important;
}

a.btn {
   padding: 1rem;
   background-color: blue;
   color: white;
}

/* Search view */
#search-form {
   display: none;
}

fieldset {
   margin: 3em;
   padding: 2em;
}

input,
textarea {
   display: block;
   margin-bottom: 1em;
   width: 100%;
}

input[type="checkbox"] {
   display: inline;
   width: auto;
}

.hint {
   display: none;
   color: red;
}

div.form-item {
   margin-bottom: 1em;
}

/* Loading view */
#loading-view {
   display: none;
   text-align: center;
   padding-top: 9em;
   justify-content: center;
}

/* Error view */
#error-view {
   display: none;
   text-align: center;
   padding-top: 9em;
   justify-content: center;
}

/* Result view */
#search-results {
   display: none;
   text-align: center;
   justify-content: center;
}

div.record_display {
   margin: 1em;
   padding: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border: 1px solid #000;
   text-align: left;
   border-radius: 1.5em;
}

a.record_full_image_link {
   display: block;
   margin-top: 1em;
}